{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "rules": {
    "semi": "off",
    "comma-dangle": "off",
    "arrow-parens": "off",
    "require-jsdoc": "off",
    "no-trailing-spaces": "off",
    "operator-linebreak": "off"
  },
  "extends": [
    "eslint:recommended",
    "google"
  ]
}